# Rename (or copy) this file to .env and populate with appropriate values.
# If left as it is http://localhost will be used.
REACT_APP_APPLICATION_ID=
REACT_APP_API_BARONG_URL=
REACT_APP_API_APPLOGIC_URL=
REACT_APP_API_PEATIO_URL=
REACT_APP_API_PUSHER_KEY=
REACT_APP_PUSHER_WS_HOST=
REACT_APP_PUSHER_HTTP_HOST=
