.pg-export-button {
  position: relative;

  &__link,
  &__icon {
    display: inline-block;
  }

  &__link {
    color: var(--bitto-brand-color);
    font-size: 1.16em;
    font-weight: normal;
    padding-right: calc(6px + calc(var(--gap) * 4));
  }

  &__icon {
    position: absolute;
    height: 30px;
    top: -6px;
    right: 0;
  }
}