@import "./TradingScreen/TradingScreen.pcss";
@import "./ReferralProgramScreen/ReferalProgramScreen.pcss";
@import "./OneClickTradeScreen/OneClickTradeScreen.pcss";
@import "./HomeScreen/HomeScreen.pcss";
@import "./SignInScreen/SignInScreen.pcss";
