.pg-trading-screen {
  padding: 10px;
  background: var(--transparent);

  .react-grid-item {
    background: var(--base-dark);
  }

  ::-webkit-scrollbar {
    width: calc(var(--gap) / 2);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: var(--gap);
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: var(--gap);
  }
}

.pg-trading-wrap {
  background: var(--transparent);
}
