.pg-details {
  margin-bottom: calc(var(--gap) * 3);

  &__title {
    color: var(--details-title-color);
    font-weight: lighter;
    margin: 0;
    margin-bottom: var(--gap);
  }

  &__content {
    font-weight: normal;
    color: var(--details-content-color);

    &--highlighted {
      color: var(--bitto-brand-color);
    }
  }
}
