.SocialMediaShareButton {
  cursor: pointer;
  display: inline-block;
  outline: none;
  width: calc(var(--gap) * 4.2);

  .social-icon {
    circle {
      fill: transparent !important;
      stroke: var(--details-content-color);
      stroke-width: 4px;
      r: 30;
    }

    path {
      fill: var(--details-content-color);
    }
  }
}
