@font-face {
  font-family: Sailec;
  src: url(./assets/fonts/Sailec-Regular.WOFF) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Sailec;
  src: url(./assets/fonts/Sailec-Light.WOFF) format('woff');
  font-weight: 200;
}

@font-face {
  font-family: Sailec;
  src: url(./assets/fonts/Sailec-Bold.WOFF) format('woff');
  font-weight: bold;
}
